@import url(general.css);
body{
    background: linear-gradient(180deg, var(--background-color-light) 70%, var(--background-color-dark) 100%); /* Diagonal gradient from pink to orange */
}
.content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh; /* Ensure the container takes the full height of the viewport */
    padding-top: 104px; /* Avoid overlap with fixed navbar */
    padding-bottom: 108px; /* Space for the create button */
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    max-height: 100vh;
}

/* Back Button Container */
.btn-back-container {
    position: absolute;
    top: 104px; /* Just below the navbar */
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: start;
    padding: 16px;
    z-index: 999;
}

.btn-back {
    background-image: url('../resources/images/arrow_back.png');
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

/* Scrollable Content */
.content {
    overflow-y: auto; /* Make this section scrollable */
    padding: 16px;
    padding-top: 76px;
    max-height: calc(100vh - 104px - 64px); /* Ensures content div is scrollable */
}

/* Create Button Container */
.btn-create-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 32px;
    z-index: 999;
}

.month-header{
    text-align: center;
    margin-bottom: 32px;
    width: 100%;
}

/* Match Card Container */
.match-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* 3 columns */
    grid-template-rows: 32px auto; /* 2 rows */
    background-color: var(--background-color-dark);
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 400px;
    height: 152px;
    box-shadow: 0px 8px 8px rgba(var(--background-color-dark-rgb), 0.8); /* Add shadow */
}

/* Match Name - First Row */

.match-name {
    font-weight: bold;
    font-style: italic;
    font-size: 16px;
    color: white;
    text-align: start;
    padding: 16px 16px 4px 16px;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Limit to 4 lines */
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* Players String (Second Row) */
.players-string {
    font-weight: bold;
    font-style: italic;
    font-size: 16px;
    color: white;
    padding: 16px 16px 4px 16px;
}

/* Match Day (Second Row) */
.match-day {
    grid-row: span 2;
    font-weight: bold;
    font-style: italic;
    font-size: 24px;
    color: var(--accent-color);
    padding: 16px;
}

/* Court Name */
.match-court {
    font-size: 16px;
    color: var(--accent-color);
    text-align: start;
    padding: 4px 16px 16px 16px;
}

/* Number of Players */
.match-num-players {
    font-size: 16px;
    color: var(--accent-color);
    padding: 4px 16px 16px 16px;
}

/* Match Time (Start-End Time) */
.match-time {
    background-color: var(--accent-color);
    grid-column: span 3;
    font-size: 16px;
    color: var(--accent-color);
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    height: 32px;
}

.schedule-container {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    overflow-y: scroll;  /* Enables scrolling */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.schedule-container::-webkit-scrollbar {
    display: none; /* For Webkit browsers (Chrome, Safari, Edge) */
}